@use '../addons/bulma/_bulma-essentials';

@forward './_header';
@forward './_footer';
@forward './_subscribe-section';
@forward './_text-section';
@forward './_video-section';
@forward './_news-section';
@forward '../molecules/img-text-paragraph';
@forward './_season-results-section';

@forward './_championship-information-page';
@forward './_results-page';

.section {
    padding: 35px 0;
    @media only screen and (min-width: 769px) {
        padding: 60px 0;
    }
}

.page > .container {
    margin-top: 54px;
    @media only screen and (min-width: 769px) {
        margin-top: 96px;
    }
}