@use '../_variables' as v;
@use '../addons/bulma/_bulma-basic' as b;

.blockTitle {
  margin-bottom: 16px;
  color: v.$black;
  font-size: v.$size-5;
  line-height: 18px;
  font-weight: 700;
  text-align: center;
  @include b.tablet {
      font-size: v.$size-3;
      line-height: 45px;
  }
}

.blockSubTitle {
  margin: 16px 0;
  color: v.$black;
  font-size: v.$size-8;
  @include b.tablet {
      margin: 30px 0;
  }
}
